
/**************/
.hero-bg-con{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-left: 6%;
    padding-right: 6%;
}

.hero-hea{
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 60px;

}

.span{
    font-size: 80px;    
    background: linear-gradient(to right, #0044ff , rgb(7, 240, 240)); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}


.hero-p{
    font-size: 26px;
    line-height: 37px;
}
.hero-content-section{
    width:45%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.hero-img-section{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
}
.hero-img-con{
    border-radius: 20px;
    display: flex;
    background-color: transparent;
}
.hero-img{
    height: 440px;
    width: 360px;
    border-radius: 20px;
}
.tec-round-con{
    padding: 6px;
    height: 55px;
    width: 55px;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-right: 20px;
    border: 1px solid rgb(230, 228, 228);
    border-radius: 20px;
}


.technology-img{
    height: 50px;
    width: 50px;
}
.technology-img:hover{
    height: 60px;
    width: 60px;
}
.tech-logoes-con{
    display: flex;
    margin-top: 20px;

}

@media (max-width:300px){
    .hero-hea{
        font-size: 13px;
        line-height: 15px;
        margin-top: 37%;
    }
    .span{
        font-size: 30px;
    }
    .hero-p{
        font-size: 9px;
        line-height: 14px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width:400px){
    .hero-hea{
        font-size: 10px;
        line-height: 20px;
        margin-top: 35%;
    }
    .span{
        font-size: 20px;
    }
    .hero-p{
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 0px;
    }
    .hero-bg-con{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
   
    .hero-img-section{
        padding: 20px;
        width: 100%;
        margin-top: 0px;      
    }
    
    .technology-img{
        height: 37px;
        width: 37px;
    }
   
}
@media screen and (max-width:575px){
    .hero-hea{
        font-size: 25px;
        line-height: 30px;
        margin-top: 20%;
    }
    .span{
        font-size: 33px;
    }
    .hero-p{
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 0px;
    }
    .hero-bg-con{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .hero-content-section{
        padding: 0px;
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 0px;
    }
    .hero-img-section{
        padding: 20px;
        width: 100%;
        margin-top: 0px;      
    }
    .hero-img{
        width:60vw;
        height: 39vh;
    }
    .technology-img{
        height: 37px;
        width: 37px;
    }
    .tec-round-con{
        height: 40px;
        width: 40px;
        border-radius: 10px;
    }
    .tech-logoes-con{
        margin-top: 12px;
    }

}
@media screen and (min-width:576px) and (max-width:767px){
    .hero-hea{
        font-size: 25px;
        line-height: 46px;
        margin-top: 18%;
    }
    .span{
        font-size: 35px;
    }
    .hero-p{
        font-size: 19px;
        line-height: 33px;
        margin-bottom: 0px;
    }
    .hero-bg-con{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .hero-content-section{
        padding: 0px;
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 0px;
    }
    .hero-img-section{
        padding: 20px;
        width: 100%;
        margin-top: 0px;      
    }
    .hero-img{
        width:49vw;
        height: 45vh;
    }
    .technology-img{
        height: 45px;
        width: 45px;
    }
    .tec-round-con{
        border-radius: 10px;
    }
    .tech-logoes-con{
        margin-top: 12px;
    }


}
@media screen and (min-width:768px) and (max-width:991px){
    .hero-hea{
        font-size: 40px;
        line-height:50px;
    }
    .span{
        font-size: 90px;
    }
    .hero-p{
        line-height: 35px;
        margin-bottom: 0px;
        font-family:bree serif;
        font-size: 20px;
    }
   
    .hero-img{
        width:30vw;
        height: 55vh;
    }
    .technology-img{
        height: 60px;
        width: 65px;
    }
    .tec-round-con{
        border-radius: 10px;
    }
    .tech-logoes-con{
        margin-top: 12px;
    }
    .hero-bg-con{
        padding: 5%;
    }


}
@media screen and (min-width:992px) and (max-width:1200px){
    .hero-bg-con{
       padding: 3rem;
    }


}
