
.nav-wrapper{
    background-color:rgb(11, 26, 54);
    height: 10vh;
    width: 100vw;
    padding-left: 6%;
    padding-right: 6%;
    position: fixed;
    z-index: 3;
}

.nav-container{
    max-width: 1300px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.logo{
    width: 3rem;
    height: auto;
}

.nav-container ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap:0.5rem;

}
.nav-container li{
    margin: 0 1.5rem;
}
.menu-item{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}
.menu-item::before{
    content: " ";
    width:2rem ;
    height: 0.2rem;
    border-radius: 0.5rem;
    background:linear-gradient(90deg,#0044ff 0%, rgb(7, 240, 240) 100%);
    position: absolute;
    bottom: -1rem;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}

.menu-item:hover::before{
    width: 100%;
    transform: translateX(0);
    opacity: 1;
}
.contact-btn{
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 8px;
    width: 100px;
    border: none;
    outline: 1.5 solid transparent;
    background-image:linear-gradient(to right, #0044ff , rgb(7, 240, 240));
    transition: all 0.3s ease;
    color: #fff;
    cursor: pointer;
}
.contact-btn:hover{
  height: 50px;
  width: 120px;
}

.nav-menu-btn{
    padding: 10px;
    border-radius:5px;
    background-color: transparent;
    color: white;
    border:1px solid white;
    outline: none;
    cursor: pointer;
}

.nav-menu-btn:hover{
    background:linear-gradient(90deg,#0044ff 0%, rgb(7, 240, 240) 100%);
    border: none;
}

@media  screen and (max-width:768px) {
    .nav-container .ul-con{
        display: none;
    }
    .contact-btn{
        display: none;
    }
}
@media  screen and (min-width:769px) {
   .nav-menu-btn{
    display: none;
   }
}